[Unit]
Description=LDAP Access Log parser
Wants=dirsrv.target
After=dirsrv.target

[Service]
ExecStart=___INSTALL_DIR___/bin/lap -tail ___DS_LOG_DIR___/access
Type=simple
Restart=always

[Install]
WantedBy=default.target
Alias=lap.service
